.character__avatar {
  display: block;
  width: 300px;
  height: 300px;
  border: 5px solid #f2f2f7;
  border-radius: 150px;
  margin-top: 76px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;

  @include mob {
    width: 150px;
    height: 150px;
    // margin-top: 124px;
    margin-bottom: 34px;
  }
}

.character__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 48px;
  color: #081f32;

  @include mob {
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 38px;
  }
}

.character__info--label {
  margin-bottom: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #8e8e93;

  @include mob {
    margin-bottom: 16px;
    font-size: 20px;
    text-align: left;
  }
}

.character__list {
  width: 413px;
  margin: 0 auto;
  text-align: left;

  margin-bottom: 142px;

  @include mob {
    width: 312px;
    margin-bottom: 85px;
  }
}

.character__listItem {
  height: 64px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.character__info--heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #081f32;
}

.character__info--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6e798c;
}

.character__button {
  position: absolute;
  top: 21px;
  left: 50px;
  display: flex;
  gap: 8px;
  place-items: center;
  background-color: transparent;
  border: none;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  @include mob {
    top: 23px;
    left: 24px;
  }
}
