.logo {
  width: 600px;
  height: 200px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;

  @include mob {
    width: 312px;
    height: 104px;
    margin-bottom: 32px;
  }
}
.logo__img {
    width: 100%;
}
